# Google Service Account (отримайте в Google Cloud Console)
GOOGLE_SERVICE_ACCOUNT_EMAIL=ceramics-studio-app@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"

# ID вашої Google Таблиці (з URL)
GOOGLE_SPREADSHEET_ID=1RFk0MY9AtcOAiOlAOJo2PlS7zpx25Gn5JgnMK2oXJ_c

# Назви аркушів (якщо відрізняються — змініть тут)
SHEET_SLOTS=Group MKs
SHEET_CLIENTS=Clients
SHEET_ORDERS=MK Orders
